$main: #ff824a;
$description-max-width: 600px;
$img-max-width: 320px;

.paragraph {
  margin-top: 0;
}
h2 {
  margin: 30px 0px 0px 0px;
}
p {
  margin-top: 0px;
}

// Body
.portfolio-flex-row {
  //   justify-content: center;
  display: flex;
  flex-flow: row-reverse wrap;
  max-width: 100%;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 30px;
}

// Description
.porfolio-item-description {
  padding-bottom: 20px;
  padding-right: 20px;
  flex: 1 1 20em; // flex-grow, flex-shrink, flex-basis
}

// Image
.portfolio-image-container {
  min-width: 250px;
  justify-content: center;
  filter: drop-shadow(0px 0px 10px rgba(42, 55, 60, 0.3));
  flex: 2 2 2em; // flex-grow, flex-shrink, flex-basis
  max-height: 500px;
  margin-bottom: 40px;
  border-radius: 10px;
}

img.porfolioImg {
  object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
