$main: #ff824a;
$description-max-width: 600px;
$img-max-width: 320px;

.flex-row {
//   justify-content: center;
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  justify-content:space-between;
  align-content: space-between;
}
.porfolio-item-description {
  padding-right: calc(10px + 3%);
  max-width: $description-max-width;
  min-width: 250px;
  padding-bottom: 20px
}

.portfolio-image-container {
  max-width: $img-max-width;
  min-width: 250px;
  justify-content: center;
  filter: drop-shadow(0px 0px 10px rgba(42, 55, 60, 0.3));
}

img.porfolioImg {
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 15px;

  }