// Global Variables

$background-light: #ece8e1;
$header-light: black;
$body-light: black;

$background-dark: black;
$header-dark: white;
$body-dark: white;

$main: #ff824a;

$max-width: 1124px;

/* Main layout elements */
.App {
  text-align: start;
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
}
.content {
  max-width: $max-width;
  padding: 25px 30px 0px;
  margin-left: auto;
  margin-right: auto;
}
.title-section {
  padding-bottom: 20;
  position: absolute;
  padding-top: 25px;
  bottom: 30pt;
}
.padded-div {
  padding-top: 25px;
  padding-bottom: 20;
  position: relative;
}
.flex-row {
  justify-content: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}
.banner-wrapper {
  position: relative;
  height: 100vh;
}

/* Title */

.title {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: left;
  line-height: 75%;
  font-size: 48pt;
  color: $header-light;
  margin-bottom: 5vmin;
  margin-top: 5vmin;
  letter-spacing: 0.1rem;
  line-height: 110%;

  // Underline
  text-decoration: underline;
  text-decoration-color: $main;
}

/* Theme Toggle */

.theme-toggle {
  position: relative;
  float: right;
  width: 24;
  z-index: 99;
  height: 24;
  padding: 10px;
  &:hover {
    width: 28;
    height: 28;
  }
}

/* Headers  */
.h1 {
  flex-direction: column;
  position: relative;
  z-index: 1;
  max-height: 0vh;
  display: flex;
  justify-content: center;
  font-size: 36pt;
  text-decoration: underline;
  text-decoration-color: $main;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Basics formatting */
p.limited-width {
  max-width: 600px;
  padding-bottom: 50px;
}
.url {
  color: black;
  text-decoration-color: light-grey;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
}
.url:hover {
  font-family: "DIN Next Lt Pro Medium";
}

/* Button */
/* Animations Keyframes */

@keyframes slide-in-title {
  from {
    transform: translate(-100%, -105%) scaleX(0);
  }
  to {
    transform: translate(-2%, -105%) scaleX(1);
  }
}
@keyframes slide-in-h1 {
  from {
    transform: translate(-100%, -75%) scaleX(0);
  }
  to {
    transform: translate(-2%, -75%) scaleX(1);
  }
}
