// Global Variables

// Primary Colors
$primary-color: #ffc700;
$light-grey: #ebebeb;

$background-light: #ece8e1;
$header-light: #0c1a28;
$body-light: #0f1923;

$background-dark: #0c1a28;
$header-dark: #deac55;
$body-dark: #ece8e1;

/* Main layout elements */
.App {
  text-align: start;
  padding: calc(8pt + 8vmin);
  display: flex;
  flex-direction: column;
  background-color: $background-light;
}
.flexRow {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

/* Title */

.title {
  z-index: 1;
  position: relative;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  line-height: 75%;
  font-size: calc(48px + 10vmin);
  color: $header-light;
}

/* Headers  */
.h1 {
  flex-direction: column;
  position: relative;
  z-index: 1;
  max-height: 0vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 7vmin);
  color: black;
  color: $header-light;
}

/* Basics formatting */
p.limited-width {
  max-width: 600px;
  padding-bottom: 50px;
}
.url {
  color: black;
  text-decoration-color: light-grey;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
}
.url:hover {
  font-family: "DIN Next Lt Pro Medium";
}

/* Button */
/* Animations Keyframes */

@keyframes slide-in-title {
  from {
    transform: translate(-100%, -105%) scaleX(0);
  }
  to {
    transform: translate(-2%, -105%) scaleX(1);
  }
}
@keyframes slide-in-h1 {
  from {
    transform: translate(-100%, -75%) scaleX(0);
  }
  to {
    transform: translate(-2%, -75%) scaleX(1);
  }
}
