@font-face {
  font-family: "Futura Medium";
  font-style: normal;
  src: local("futura-medium"),
    url("./resources/fonts/futura-medium.ttf") format("ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nunito+Sans:wght@800&display=swap");

header {
  font-family: "Nunito Sans", sans-serif;
  font-weight: regular;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: regular;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: regular;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: regular;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
